@model G2_PetProtect.Models.Servicos.Servicos
@{
    ViewBag.Title = "AdicionarServico";
}

<h2>Adicionar Pet</h2>
@using (Html.BeginForm())
{
    <fieldset role="form">
        <legend>Cadastrar</legend>

        <div>
            Serviço:
        </div>
        <div>
            @Html.EditorFor(model => model.nomeServico)
            @Html.ValidationMessageFor(model => model.nomeServico, "", new { @class = "text-danger" })
        </div>
        <div>
            Porte Pequeno
        </div>
        <div>
            @Html.TextBoxFor(model => model.precoP)
        </div>
        <div>
            Porte Médio
        </div>
        <div>
            @Html.TextBoxFor(model => model.precoM)
        </div>
        <div>
            Porte Grande
        </div>
        <div>
            @Html.TextBoxFor(model => model.precoG)
        </div>
        <div>
            <hr />
            <input class="btn btn-success" type="submit" value="Salvar" />
            <input class="btn btn-warning" type="reset" value="Limpar" />
            <hr />
            @Html.ActionLink("Voltar", "Index")
        </div>
    </fieldset>
}





