@model G2_PetProtect.Models.Agenda.Agenda
@{
    ViewBag.Title = "AddHorario";
}

<h2>Horarios Disponiveis</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Agenda</h4>
        <hr />
        <div class="form-group">
           
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.idAgenda)
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Horarios", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.horario.idHorario, ViewBag.vHorarios as SelectList, string.Empty)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Finalizar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>
